#stage {
  position: relative;
  margin: 0px auto;
  width: 400px;
  height: 300px;
  border: 1px dashed;
  background-image: url("images/oceangrid_final.png");
  background-size: 100%;
}

.ship {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
  background-color: transparent;
  box-sizing: border-box;
  pointer-events: none;
  visibility: hidden;
}

.ship:hover {
  background-color: transparent;
}

#input {
  position: relative;
  margin: 40px auto 0px;
  width: 405px;
  height: 20px;
}

#output {
  position: relative;
  margin: 0px auto;
  width: 405px;
  height: 20px;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  transition-duration: 0.5s;
  color: #fff;
  cursor: pointer;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  background: -webkit-linear-gradient(top, #a3a3a3, #000);
  background: -moz-linear-gradient(top, #a3a3a3, #000);
  background: linear-gradient(top, #a3a3a3, #000);

  -webkit-box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

button:hover {
  background: -webkit-linear-gradient(top, #acc7a3, #506651);
  background: -moz-linear-gradient(top, #acc7a3, #506651);
  background: linear-gradient(top, #acc7a3, #506651);
}

button:active {
  background: -webkit-linear-gradient(top, #858565, #c5c9a9);
  background: -moz-linear-gradient(top, #858565, #c5c9a9);
  background: linear-gradient(top, #858565, #c5c9a9);
}

.cell {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px dotted white;
  z-index: 1;
  text-align: center;
}

.miss-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: white;
}

.hit-marker {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: red;
}

.grid-container {
  position: relative;
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* This ensures items start at the top */
  height: 100vh; /* Use the full height of the viewport */
  flex-direction: column; /* Stack items vertically */
  margin: 0; /* Remove default margin */
}
